In [ ]:
#set Operations

In [2]:
A={1,2,3,4,5}
B={2,3,4,5}
C={2,4,0,8,9}

In [ ]:
A.interset

In [ ]:
#Dictionary: represented as key value pairs, mutable, keys will be unique

In [5]:
dict1={"A":"Apple","B":"orange","C":"Mango"} # A - Key, "Apple .. values
type(dict1)
print(dict1)

{'A': 'Apple', 'B': 'orange', 'C': 'Mango'}

In [6]:
for i in range(1,11):
    print("Number ",i)

Number  1
Number  2
Number  3
Number  4
Number  5
Number  6
Number  7
Number  8
Number  9
Number  10

In [9]:
for i in range(1,11,2):
print("Numper  ",i)

IndentationError: expected an indented block after 'for' statement on line 1 (1865090595.py, line 2)

In [10]:
count=[10,12,3,4,20]
for c in count:
    print(c)

10
12
3
4
20

In [11]:
str1="Python"
for i in str1:
    print(i)

P
y
t
h
o
n

In [18]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [14]:
i=10
while i>=1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1